@import "tailwindcss";

/* In your index.css */

:root {

  background-color: #041a28;
  /* Backgrounds */
  /* --color-dark-bg-primary: #0A0A0F;
  --color-dark-bg-secondary: #1A1A22; */

  --color-dark-bg-primary: #041a28;
  --color-dark-bg-secondary: #0A0A0F;
  
  /* Borders & Dividers */
  --color-dark-border: #2E3A47;
  
  /* Accents */
  --color-dark-accent-primary: #00C2FF;
  --color-dark-accent-secondary: #A863FF;
  
  /* Text */
  --color-dark-text-primary: #F0F4F8;
  --color-dark-text-secondary: #9BA4AF;
  
  /* Status */
  --color-dark-success: #34D399;
  --color-dark-warning: #FBDE10;
  --color-dark-error: #FF6B6B;
}

html {
  scroll-behavior: smooth;
}